<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <button onclick="start()">Start </button>
                <img id="video-feed" src="{{ url_for('video_feed') }}" width="50%" style="justify-content: center;">
            </div>
        </div>
    </div>
</body>

<script>
    function start() {
        // Send a request to the server to start the stream
        fetch('/start', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                start: true
            }),
        });
    }

    // Handle page unload
    window.addEventListener('unload', function () {
        // Close the webcam by sending a beacon request to the server
        navigator.sendBeacon('/close_webcam');
    });
</script>
</html>